body {
  background: #000;
  color: #fff;
}
.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 60px 80px;
  gap: 50px;
}
.about-main{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.about-image img {
  width: 600px;
  height: 700px;
  object-fit: cover;
  border-radius: 16px;
  border: 2px solid #1f1f1f;
  box-shadow: 0 0 20px rgba(78, 167, 255, 0.15);
}
.about-content {
  flex: 1;
}
.about-content h1 {
  font-size: 36px;
  color: #4ea7ff;
  margin-bottom: 20px;
}

.about-content h2 {
  font-size: 22px;
  margin-top: 25px;
  color: #4ea7ff;
}

.about-content p,
.about-content li {
  font-size: 16px;
  opacity: 0.9;
  line-height: 1.6;
}

.about-content ul {
  margin-left: 20px;
}

.description {
  font-size: 18px;
  margin-bottom: 30px;
  opacity: 1;
}
.about-slider {
  width: 90%;
  margin: 40px auto;
}
.slider-image-wrapper {
  padding: 10px;
}
.slider-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
}
