body {
  background: #000;
  color: #fff;
}
.main-faculty-section {
  padding: 40px 80px;
}
.section-title {
  font-size: 32px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
  color: #4ea7ff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.container {
  display: grid;
  padding: 10px 0;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.faculty-card {
  background: #0d0d0d;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  transition: 0.3s ease;
  border: 1px solid #1f1f1f;
  box-shadow: 0 0 20px rgba(78, 167, 255, 0.05);
}

.faculty-card:hover {
  background: #111;
  transform: translateY(-5px);
  border-color: #4ea7ff;
  box-shadow: 0 0 20px rgba(78, 167, 255, 0.1);
}

.faculty-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
}

.faculty-card h3 {
  margin-top: 15px;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}

.position {
  margin-top: 5px;
  font-size: 16px;
  color: #4ea7ff;
  font-weight: 500;
}

.read-more {
  margin-top: 15px;
  padding: 8px 20px;
  background: #4ea7ff;
  color: #000;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.read-more:hover {
  background: #82c4ff;
}
